
.titreL {
	font-weight: bold;
	margin: 0;
	color: rgba(91, 74, 239, 0.432);
}

.buttonL {
	border-radius: 30px;
	border: 1px solid rgba(91, 74, 239, 0.432);
	background-color: rgba(91, 74, 239, 0.432);
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.buttonL:active {
	transform: scale(0.95);
}

.buttonL:focus {
	outline: none;
}

.buttonL.ghost {
	background-color: transparent;
	border-color: #ffffff;
}

.formL {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.inputL {
	background-color: #eee;
	border: none;
	padding: 5px 5px;
	margin: 8px 0;
	width: 100%;
	border-color: #ffffff;
 border-radius: 30px;
}

.containerS {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 300px;
	max-width: 100%;
	min-height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;

}

.body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	overflow-x: hidden;
  background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
}